:root {
  --background-color: white;
  --text-color: black;
}

.dark-mode {
  --background-color: #2a2e37;
  --text-color: white;
}

.App {
  text-align: center;
  font-family: 'Roboto', 'Courier New', Courier, monospace, sans-serif; /* Add your desired font family here */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: linear-gradient(#03863a, #f2f2f2); /* Add your desired gradient colors here */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Roboto', sans-serif; /* Add your desired font family here */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
